.box{
   width:100%;
   height: 100px;
   background-color: darkviolet;
   text-align: center;
   justify-content: center;
   justify-items: center;
  }

  @media(max-width; 768px)
 P{
   font-size: 1000px;
 }
 .box{
   width: 100%;
   height:100px;
   background-color: rgb(183, 73, 238); 
 }
 @media only screen and (min-width:768px){
   .box{
      width:100%;
      height: 100px;
      background-color:grey;
      text-align: center;
      align-content: center;
   }
 } 
  li{
   list-style-type: none ;
   text-decoration: none;
   
 }
 nav ul{
   display: flex;
   justify-content: space-around;
   display:none;}