.ag{
  display:block;
}

.ag1{
  display:inline;
}

.container{
  height:auto;
  width:auto;
  text-align: center;
  padding:20px;
  border: 3px solid;
  

}
.box{
  align-items: center;
  display: inline-block  ;
  width: 150px;
  height: 300px;
}

.box1{
 background-color:rgb(135, 135, 12)
}

.box2{
 background-color:rgb(154, 18, 47)
}

.box3{
 background-color:rgb(19, 136, 44)
}