/* .ag{
  display:block;
}

.ag1{
  display:inline;
}

 .container{
  height:auto;
  width:auto;
  text-align: center;
  padding:20px;
  border: 3px solid;
  

}
.box{
  align-items: center;
  display: inline-block  ;
  width: 150px;
  height: 300px;
}

.box1{
 background-color:maroon
}

.box2{
 background-color:rgb(104, 218, 224)
}

.box3{
 background-color:rgb(247, 243, 33)
} */

/* .container{
  Display: flex;
  height: 600px;
  width: 1000px;
  background-color: aqua;
  border: 2px solid black;
  flex-direction: row-reverse;
  flex-wrap:"wrap";
  justify-content:center;
  align-items: center;
  

}
.item{
  height: 100px;
  width: 200px;
  border: 1px solid black;
  background-color: plum;
  align-content: center;
  flex-grow: 1;
  
  
}

.item2{
  order: -1;
  flex-grow: 2;
  align-self: flex-end;
} */
 .container{
  display: grid;

  height: 500px;
  width: 1000px;
  background-color: beige;
  border: 2px solid black;
  grid-template-columns: repaet(4,1fr);
  grid-template-rows: repeat(3,1fr);
  /* grid-template-areas:"header header header header" "main main . sidebar" "footer footer footer footer" ;  */
  column-gap: 10px;
  justify-items: center;
  align-items: center;
 }

 .item{
   height: 100px; 
   width: 100px;  
  background-color: maroon;
  border: 2px solid black;
  text-align: center;
  align-content: center;
  color: yellow;

  
  
/* }
.item1{
  grid-area: header;
}

.item2{
  grid-area: main;

}

.item3{
  grid-area: sidebar;
}

.item4{
  grid-area: footer;
} */


